:root {
  --font-1: Montserrat;
  --font-2: Oswald;
  --background-color-one: #2f4858;
  --background-color-two: #ffcb66;
  --button-color: #ffa800;
  --button-color-hover: #ffc043;
  --font-color-one: #fff;
  --font-color-two: #2f4858;
  --font-color-three: #ffa800;
  --icon-color-one: #000000;
}

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(../font/Oswald-VariableFont_wght.ttf);
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
main .text-container {
  margin-top: 172px;
}
main .text-container h1 {
  font: 500 48px/71px var(--font-2);
  text-align: center;
  letter-spacing: 0;
  color: var(--font-color-two);
}
main .text-container p {
  font: 500 24px/30px var(--font-1);
  text-align: center;
  color: var(--font-color-two);
  max-width: 816px;
  margin-top: 60px;
}
main .story-container {
  margin-top: 126px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1036px;
  gap: 14px;
}
main .story-container .inner-container {
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  display: block;
}
main .story-container .inner-container .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/color-1845394.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
main .story-container .inner-container .number {
  position: absolute;
  bottom: -5px;
  right: 15px;
  font-family: var(--font-2);
  font-size: 36px;
  font-weight: 700;
  color: var(--font-color-one);
  margin: 0;
  z-index: 1;
}
main .story-container .inner-container .photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}
main .story-container .inner-container .name, main .story-container .inner-container .surname {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-color-one);
  font-family: var(--font-2);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}
main .story-container .inner-container .name {
  top: 39%;
}
main .story-container .inner-container .surname {
  top: 61%;
}
main .story-container .inner-container .text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-color-one);
  font-family: var(--font-2);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  width: 90%;
  margin: 0;
}
main .button-container {
  display: none;
}
main .sparkle-team-container {
  margin-top: 147px;
  max-width: 1033px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main .sparkle-team-container h2 {
  margin: 0;
  font-family: var(--font-2);
  font-size: 30px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--font-color-two);
}
main .sparkle-team-container p {
  margin: 20px 0 0 0;
  font-family: var(--font-1);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--font-color-two);
  max-width: 606px;
}
main .sparkle-team-container .image-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 63px;
  margin-bottom: 181px;
}
main .sparkle-team-container .image-container .small-container {
  position: relative;
  overflow: hidden;
  width: 289px;
  height: 365px;
}
main .sparkle-team-container .image-container .small-container div {
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  text-align: center;
  width: 100%;
}
main .sparkle-team-container .image-container .small-container div h5 {
  font-family: var(--font-2);
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--font-color-one);
  margin: 0 10px 0 0;
}
main .sparkle-team-container .image-container .small-container div p {
  font-family: var(--font-1);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--font-color-one);
  margin: 0 0 20px 0;
  padding: 0 7px;
}
main .sparkle-team-container .image-container .small-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
  pointer-events: none;
}

@media (max-width: 991px) {
  main .text-container {
    max-width: 80%;
    margin-top: 135px;
  }
  main .text-container p {
    margin-top: 50px;
  }
  main .story-container {
    margin-top: 62px;
    max-width: 80%;
    gap: 14px;
  }
  main .story-container .inner-container {
    width: 142.69px;
    height: 142.69px;
    display: none;
  }
  main .story-container .inner-container:nth-child(-n+20) {
    display: block;
  }
  main .button-container {
    display: block;
    margin-top: 50px;
  }
  main .button-container button {
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: var(--button-color);
    color: var(--font-color-one);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    width: 233px;
    height: 50px;
    border-radius: 25px;
    font: 500 18px/22px var(--font-1);
    text-align: center;
  }
  main .button-container button:hover, main .button-container button:focus {
    background-color: var(--button-color-hover);
  }
  main .sparkle-team-container {
    margin-top: 142px;
  }
  main .sparkle-team-container .image-container {
    flex-direction: column;
    align-items: center;
    margin-top: 94px;
    gap: 20px;
  }
  main .sparkle-team-container .image-container .small-container {
    width: 352px;
    height: 443px;
  }
  main .sparkle-team-container .image-container .small-container img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 660px) {
  main {
    padding: 20px;
  }
  main .text-container {
    margin-top: 59px;
  }
  main .text-container h1 {
    font-size: 36px;
    line-height: 54px;
  }
  main .text-container p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 55px;
  }
  main .story-container {
    max-width: 100%;
    gap: 10px;
  }
  main .story-container .inner-container {
    width: 134.14px;
    height: 134.14px;
  }
  main .sparkle-team-container {
    margin-top: 138px;
  }
  main .sparkle-team-container h2 {
    font-size: 24px;
    line-height: 36px;
  }
  main .sparkle-team-container p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 29px;
  }
  main .sparkle-team-container .image-container {
    margin-top: 80px;
    margin-bottom: 121px;
    gap: 24px;
  }
  main .sparkle-team-container .image-container .small-container {
    max-width: 280px;
    height: 354px;
  }
  main .sparkle-team-container .image-container .small-container div h5 {
    font-size: 18px;
    line-height: 27px;
  }
  main .sparkle-team-container .image-container .small-container div p {
    font-size: 14px;
    line-height: 17px;
  }
}/*# sourceMappingURL=99-iedvesmas-stasti.css.map */