:root {
  --font-1: Montserrat;
  --font-2: Oswald;
  --background-color-one: #2f4858;
  --background-color-two: #ffcb66;
  --button-color: #ffa800;
  --button-color-hover: #ffc043;
  --font-color-one: #fff;
  --font-color-two: #2f4858;
  --font-color-three: #ffa800;
  --icon-color-one: #000000;
}

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(../font/Oswald-VariableFont_wght.ttf);
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
main .text-container {
  margin-top: 172px;
}
main .text-container h1 {
  font: 500 48px/71px var(--font-2);
  text-align: center;
  letter-spacing: 0;
  color: var(--font-color-two);
}
main .text-container p {
  font: 400 18px/22px var(--font-1);
  text-align: center;
  color: var(--font-color-two);
  max-width: 816px;
  margin-top: 65px;
}
main .search-container {
  width: 100%;
  max-width: 1033px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 75px;
  margin-bottom: 218px;
}
main .search-container .custom-select {
  position: relative;
  width: 288px;
  font-size: 16px;
}
main .search-container .custom-select label {
  font-family: var(--font-1);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.015em;
  text-align: left;
  color: var(--font-color-three);
}
main .search-container .select-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 288px;
  margin-top: 15px;
  /* Style the selected value */
}
main .search-container .select-wrapper .dropdown {
  list-style: none;
  box-sizing: border-box;
  padding: 5px 0 0 15px;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(196, 196, 196, 0.4);
  width: 100%;
  display: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 1;
}
main .search-container .select-wrapper .dropdown li {
  font-family: var(--font-1);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.015em;
  text-align: left;
  color: var(--font-color-two);
  margin-bottom: 10px;
}
main .search-container .select-wrapper .open {
  display: block;
}
main .search-container .select-wrapper .selected-value {
  background: rgba(196, 196, 196, 0.4);
  height: 25px;
  border-radius: 6px;
  padding: 9px 15px;
  font-family: var(--font-1);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.015em;
  text-align: left;
  color: var(--font-color-two);
}
main .search-container .select-wrapper .border-line::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 17px;
  width: 219px;
  height: 1px;
  background-color: var(--background-color-one);
}
main .search-container .select-wrapper .selected {
  font-weight: 600;
}
main .search-container .select-wrapper .arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
main .search-container .select-wrapper .no-border-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
main .company-container {
  display: none;
  width: 80%;
  max-width: 1366;
  margin-bottom: 40px;
}
main .company-container .inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  min-height: 135px;
}
main .company-container .inner-container img {
  width: 120px;
  box-sizing: border-box;
  margin-left: 132px;
  margin-bottom: 15px;
}
main .company-container .inner-container h3 {
  font-family: var(--font-1);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--font-color-two);
  width: 250px;
  margin: 0;
}
main .company-container .inner-container p {
  font-family: var(--font-1);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  color: var(--font-color-two);
  width: 255px;
  margin: 0;
}
main .company-container .inner-container:nth-child(2) img {
  margin: 0 0 0 137px;
}
main .map-container {
  width: 100%;
  max-width: 1383px;
  height: 648px;
}
main .map-container iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  main .text-container {
    max-width: 80%;
    margin-top: 135px;
  }
  main .text-container p {
    margin-top: 50px;
  }
  main .search-container {
    margin-bottom: 65px;
  }
  main .map-container {
    height: 812px;
  }
}
@media (max-width: 660px) {
  main {
    padding: 0 20px;
  }
  main .text-container {
    margin-top: 80px;
    max-width: 100%;
  }
  main .text-container h1 {
    font-size: 36px;
    line-height: 53px;
  }
  main .text-container p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 28px;
  }
  main .search-container {
    flex-wrap: wrap;
    margin-top: 68px;
    margin-bottom: 80px;
    gap: 45px;
  }
  main .search-container .custom-select label {
    font-size: 14px;
    line-height: 17px;
  }
  main .search-container .custom-select .select-wrapper {
    width: 100%;
    margin-top: 10px;
  }
  main .search-container .custom-select .select-wrapper .selected-value {
    font-size: 14px;
    line-height: 17px;
    padding: 15px 15px 3px 15px;
  }
  main .search-container .custom-select .select-wrapper ul li {
    font-size: 14px;
    line-height: 17px;
  }
  main .search-container .custom-select .select-wrapper .arrow {
    top: 64%;
  }
  main .map-container {
    width: 100vw;
    height: 606px;
  }
}/*# sourceMappingURL=sapnus-atbalsta.css.map */