@import 'variables';

main{
    display:flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden ;
    .text-container{
        margin-top:172px;
        h1{
            font: 500 48px/71px var(--font-2);
            text-align: center;
            letter-spacing: 0;
            color: var(--font-color-two);
        }
        p{
            font: 400 18px/22px var(--font-1);
            text-align: center;
            color: var(--font-color-two);
            max-width: 816px;
            margin-top: 65px;
        }
    }
    .search-container{
        width:100%;
        max-width: 1033px;
        display:flex;
        justify-content: center;
        gap:30px;
        margin-top:75px;
        margin-bottom: 218px;
 
        .custom-select {
            position: relative;
            width: 288px;
            font-size: 16px;
            label{
                font-family: var(--font-1);
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: -0.015em;
                text-align: left;
                color:var(--font-color-three);
            }
          }
          
          .select-wrapper {
            position: relative;
            display: inline-block;
            cursor: pointer;
            user-select: none; 
            width:288px;
            margin-top: 15px;


            .dropdown {
                list-style: none;
                box-sizing: border-box;
                padding:5px 0 0 15px;
                margin: 0;
                position: absolute;
                top: 100%;
                left: 0;
                background: #C4C4C466;
                width:100%;
                display: none;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                z-index: 1;

                li {
                    font-family: var(--font-1);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: -0.015em;
                    text-align: left;
                    color: var(--font-color-two);
                    margin-bottom:10px;
                  }
              }
              .open{
                display:block;
              }

                      /* Style the selected value */
          .selected-value {
            background: #C4C4C466;
            height:25px;
            border-radius: 6px;
            padding: 9px 15px;
            font-family: var(--font-1);
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.015em;
            text-align: left;
            color: var(--font-color-two);
          }
          .border-line::before {
            content: ""; 
            position: absolute; 
            bottom: 2px; 
            left: 17px; 
            width: 219px; 
            height: 1px; 
            background-color: var(--background-color-one); 
          }
          .selected{
            font-weight: 600;
          }

            .arrow {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
            }
            .no-border-radius {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
    .company-container{
        display: none;
        width:80%;
        max-width: 1366;
        margin-bottom: 40px;
        .inner-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:87%;
            min-height:135px;
            img{
                width:120px;
                box-sizing: border-box;
                margin-left: 132px;
                margin-bottom: 15px;
            }
            h3{
                font-family: var(--font-1);
                font-size: 24px;
                font-weight: 500;
                line-height: 29px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--font-color-two);
                width:250px;
                margin:0;

            }
            p{
                font-family: var(--font-1);
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: right;
                color: var(--font-color-two);
                width:255px;
                margin:0;
            }
        }
        .inner-container:nth-child(2){
            img{
                margin:0 0 0 137px;
            }
        }
    }
    .map-container{
        width:100%;
        max-width: 1383px;
        height:648px;
        iframe{
            width:100%;
            height:100%;
        }
    }
}

@media (max-width: 991px){
    main{    
        
        .text-container{
            max-width: 80%;
            margin-top: 135px;

            p{
                margin-top:50px;
            }
        }
        .search-container{
            margin-bottom: 65px;
        }
        .map-container{
            height:812px;
        }
    }
}
@media (max-width: 660px){
    main{
        padding:0 20px;
        .text-container{
            margin-top:80px;
            max-width: 100%;
            h1{
                font-size: 36px;
                line-height: 53px;
            }
            p{
                font-size: 14px;
                line-height: 17px;
                margin-top: 28px;
            }
        }
        .search-container{
            flex-wrap: wrap;
            margin-top: 68px;
            margin-bottom: 80px;
            gap:45px;
            .custom-select{
                label{
                    font-size: 14px;
                    line-height: 17px;
                }
                .select-wrapper{
                    width:100%;
                    margin-top:10px;
                    .selected-value{
                        font-size: 14px;
                        line-height: 17px;
                        padding:15px 15px 3px 15px;
                    }
                    ul{
                        li{
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                    .arrow{
                        top:64%;
                    }
                }
            }
            
        }
        .map-container{
            width:100vw;
            height:606px;
        }
    }
}